<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Division.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4DBE9EC230AA6A1004BD7A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4DBEA03230AA6B1004BD7A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4DBEA0E230AA6B1004BD7A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
